<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>

    <!-- Suppress verbose DEBUG output from Ktor, HiveMQ, and other bundled libs -->
    <logger name="io.ktor" level="INFO"/>
    <logger name="com.hivemq" level="INFO"/>
    <logger name="io.netty" level="INFO"/>
    <logger name="org.eclipse.jetty" level="INFO"/>

    <root level="WARN">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
